$transition-time: 0.3s;

body {
	font-size: 1.2em;
}

#side-pane {
	transform: rotate(-90deg);
	transform-origin: -40px;
	position: fixed;
	top: 70%;
	transition: $transition-time;
	ul {
		list-style: none;
		li {
			display: inline;
			padding: 10px 0px;
			margin: 0px 20px;
			a {
				text-decoration: none;
			}
			&:hover {
				border-bottom: solid 3px #007bff;
			}
		}
	}
}

.toggle-side-pane {
	transform-origin: 40px !important;
}

#main-content {
	position: fixed;
	left: 100px;
	top: 30%;
	transition: $transition-time;
	height: 100%;
}

.move-main-content {
	top: 5% !important;
}

#content {
	height: 75%;
	display: none;
	margin: 20px 0px;
	overflow: auto;
	.details {
		height: 100%;
	}
}

.display-content {
	display: block !important;
}

.container {
	padding: 0px 0px 0px 5px;
}